@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');

html, body {
  overflow: hidden;
  background-color: #000;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}