body {
  margin: 0;
  padding: 0;
  background: black;
  width: 100%;
  height: 100%;
}
canvas {
  display: block;
  background: white;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}